<%-include('header.ejs')%>

<<<<<<< HEAD
=======

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:49 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets1/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets1/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets1/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product">Product List</a>
                        <a href="/admin/addproduct">Add product </a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/order">Order list </a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/customer">Users List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupon">Coupon List</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Banner Management</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/banner">Banner List</a>
                        <!-- <a href="/admin/addbanner">Add Banner </a> -->
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"><i class="material-icons md-perm_identity"></i> </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
>>>>>>> fc8eab72c714a5c12b7a73c2d7c60a5b33ce4805
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Edit Category </h2>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Category Name</label>
                                <input type="text" name="name"  value="<%= categories.Name %>"  class="form-control" id="product_name">
                                <div id="nameError" class="invalid-feedback" style="display: none;">Category Name must contain only characters.</div>
                            </div>
                            <% if(typeof message !== 'undefined') { %>
                                <p style="color:green"><%= message %></p>
                            <% } %>
                            <img src="/productimages/<%= categories.Image %>" width="100px" height="100px" alt="Current Product Image">
                            <div class="mb-3">
                                <label for="imageInput" class="form-label">Choose Image</label>
                                <input id="imageInput" type="file" name="image" class="form-control bg-primary text-white">
                                
                            </div>
                            <div>
                                <input type="checkbox" id="tickOption" name="tickOption" value="yes">
                                <label for="tickOption">Crop</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Edit category</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, 999 bookstore .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets1/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets1/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets1/js/vendors/select2.min.js"></script>
    <script src="/assets1/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets1/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets1/js/main.js" type="text/javascript"></script>
    <!-- =========================validation======================== -->

    <script>
        function validateForm() {
            var nameField = document.getElementById('product_name');
            var imageField = document.getElementById('imageInput');
            var nameError = document.getElementById('nameError');
            var imageError = document.getElementById('imageError');
    
            var name = nameField.value.trim();
            var image = imageField.value.trim();
    
            if (name === '') {
                nameError.textContent = 'Category Name cannot be empty.';
                nameError.style.display = 'block';
                return false;
            } else {
                nameError.style.display = 'none';
            }
    
            
    
            if (containsNumberOrSpecialChar(name)) {
                nameError.textContent = 'Category Name must contain only characters.';
                nameError.style.display = 'block';
                return false;
            } else {
                nameError.style.display = 'none';
            }
    
            return true;
        }
    
        function containsNumberOrSpecialChar(value) {
            return /[^\w\s]/.test(value) || /\d/.test(value); // Checks if value contains a special character or number
        }
    </script>
    


    <!-- ==========================end of validation================ -->
</body>


</html>