<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/" class="text-light">Homepage</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="text-light">About Us</a>
                <p class="text-light mt-2">999bookstore is a test project to improve the owner skills so don't expect to buy something from here its just a test subject thats all..</p>
            </div>

            <div class="col-md-4">
                <a href="/contact" class="text-light">Contact Us</a>
                <p>Email: 999bookstore@gmail.com</p>
                <p>Phone: +91 8690501604</p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.facebook.com/" class="text-light"><i class="fab fa-facebook"></i> Facebook</a>
                <br>
                <a href="https://twitter.com/?lang=en" class="text-light"><i class="fab fa-twitter"></i> Twitter</a>
                <br>
                <a href="https://www.instagram.com/" class="text-light"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</footer>