<%-include('../layout/header.ejs')-%>

<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<a class="navbar-brand logo_h" href="index.html"><img src="img/12345.jpeg" width="100px" style="border-radius: 20px;" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item "><a class="nav-link" href="/bookList">All Books</a></li>
						<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forget password</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Forget password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<form class="row login_form" action="/forgotPasswordChech" method="post" id="passForm" >
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="New Password" required>
								<span id="passwordError" style="color: red;" class="error-message"></span>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required>
								<span id="password2Error" style="color: red;" class="error-message"></span>
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="button" onclick="submitForm()" value="submit" class="primary-btn">Log In</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%-include('footer')-%>
	<script>
		function submitForm(){
			console.log("i am here");
			const password = document.getElementById('password').value
			const confirmPassword = document.getElementById('password2').value
			const passwordError = document.getElementById('passwordError')
			passwordError.textContent = ''
			if(password.trim() == ''){
				console.log("i am gere 2")
				passwordError.textContent = 'Password is required..!'
				return
			}
			
			if(password.trim().length<8){
				passwordError.textContent = 'Password must be 8 charecters..!'
				return
			}
			const password2Error = document.getElementById('password2Error')
			password2Error.textContent = ''
			if(confirmPassword.trim() == ''){
				password2Error.textContent = 'Confirm Password is required..!'
				return
			}
			if(confirmPassword.trim().length<8){
				password2Error.textContent = 'Confirm Password must be 8 charecters..!'
				return
			}

			if(password !== confirmPassword){
				password2Error.textContent = 'Password and Confirm Password must be equal..!'
				return
			}
			const Myform = document.getElementById('passForm')
			Myform.submit()
		}
	</script>


<%-include('../layout/footer.ejs')-%>