<%-include('../layout/header.ejs')-%>
<style>
	.login_form_inner {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.resend-container {
    margin-top: 5px;
}

</style>
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<a class="navbar-brand logo_h" href="index.html"><img src="img/12345.jpeg" width="100px" style="border-radius: 20px;" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item "><a class="nav-link" href="/bookList">All Books</a></li>
						<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>OTP</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Otp</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="login_box_area section_gap">
		<div class="container ">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<form class="row login_form" action="/forgetPasswordverifyOtp" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="otpInput" name="otp" placeholder="Enter OTP" required>
								<span class="error-message" style="color: red;"  id="otp-error"></span>
							</div>
							<div class="col-md-12 form-group">
								<% if(typeof message !== 'undefined') { %>
									<p style="color:red"><%= message %></p>
								<% } %>
							</div>
							<div class="col-md-12 form-group">
								<button type="button" value="submit" onclick="submitOtp()" class="primary-btn" id="verify-button">Verify OTP</button>
							</div>
						</form>
						<div class="resend-container text-center">
							<button id="resendButton" class="primary-btn" style="display: none; border:none">Resend OTP</button>
						</div>
						<div id="countdown" class="text-center">60 seconds</div>    
					</div>                    
				</div>
			</div>
			
	</section>
	<%-include('footer')-%>
	<script>
		function submitOtp(){
			console.log("hai")
			const otpInput = document.getElementById('otpInput').value;
			const errorMessageElement = document.getElementById('otp-error');
			errorMessageElement.textContent = '';
		

			if(otpInput.trim()==''){
				console.log("hello")
				errorMessageElement.textContent = 'Otp is required';
					return; 								
			}
			const submitform = document.getElementById('contactForm')
			submitform.submit()
		}




	let remainingTime = parseInt(localStorage.getItem('remainingTime')) || 60;
	let countdownInterval;

	function updateCountdown(remainingTime) {
		const countdownElement = document.getElementById('countdown');
		countdownElement.textContent = `${remainingTime} seconds`;
	}

	function startCountdown() {
		hideResendButton(); 
		countdownInterval = setInterval(() => {
			remainingTime--;

			if (remainingTime <= 0) {
				clearInterval(countdownInterval);
				showResendButton();
			} else {
				updateCountdown(remainingTime);
			}
		}, 1000);
	}

	function showResendButton() {
		document.getElementById('resendButton').style.display = 'block';
		document.getElementById('otpInput').style.display = 'none';
		document.getElementById('countdown').style.display = 'none';
		document.getElementById('timeM').style.display = 'none';
		document.getElementById('verify-button').style.display = 'none';
		document.querySelector('input[name="otp"]').style.display = 'none';
	}

	function hideResendButton() {
		document.getElementById('resendButton').style.display = 'none';
	}

	window.onbeforeunload = function () {
		localStorage.setItem('remainingTime', remainingTime.toString());
	};

	document.getElementById('resendButton').addEventListener('click', function () {
		remainingTime = 60;

		fetch('/resendOtp', {
			method: 'POST',
			
		})
		.then(response => {
			if (response.ok) {
				startCountdown()
				console.log('Resend OTP request sent successfully');
			} else {
				console.error('Failed to resend OTP');
			}
		})
		.catch(error => {
			console.error('Error occurred while resending OTP:', error);
		});

		document.getElementById('otpInput').style.display = 'block';
		document.getElementById('countdown').style.display = 'block';
		document.getElementById('timeM').style.display = 'block';
		document.getElementById('verify-button').style.display = 'block';
		document.querySelector('input[name="otp"]').style.display = 'block';
	});

	window.onload = startCountdown;



	</script>	
<%-include('../layout/footer.ejs')-%>