<%-include('../layout/header.ejs')-%>

<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<a class="navbar-brand logo_h" href="index.html"><img src="img/12345.jpeg" width="100px" style="border-radius: 20px;" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item "><a class="nav-link" href="/bookList">All Books</a></li>
						<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forget password</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Forget password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<form class="row login_form" action="" method="post" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email"  placeholder="Email" required>
								<span id="emailError" style="color:red" class="error-email"></span>
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="button" onclick="submitEmail()" value="submit" class="primary-btn">Log In</button>
								<a href="/login" id="forgotPasswordLink">Login?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%-include('footer')-%>
	<script>
		function submitEmail(){
			const emailError = document.getElementById('emailError')
			emailError.textContent =''
			const emailData = document.getElementById('email').value;
			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/; 
			if (!emailRegex.test(emailData)) {
			emailError.textContent = 'Please enter a valid email address.';
			return;
			}
			this.submitForm()
		}
		function submitForm(){
			const emailError = document.getElementById('emailError')
			const emailData = document.getElementById('email').value;
			fetch('/forgotpassword',{
				method:'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body:JSON.stringify({
					email:emailData
				})
			})
			.then(responce=>{
				return responce.json()
			})
			.then(data=>{
				if(data.message=='Success'){
					console.log("Success");

					window.location='/forgetPasswordverifyOtp'
				}else if(data.message=='failed'){
					console.log("failed");
					emailError.textContent = 'invalid email...!';
				}

			})
		}
	</script>



<%-include('../layout/footer.ejs')-%>