<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="Myform">
        <input type="text" id="name" name="justaname">
        <span id="spanId"> </span>
    <button onclick="hello()" type="submit">submit</button>
    </form>
    <h1>hai i am abin</h1>
    <script>
        let c
       
      function hello(){
            let a=5
            let b=10
           let c= a*b*10
           
           
           const justaname = document.getElementById('name').value
           fetch('/api',{
            method:'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                key:c,
                value:justaname
            })
        }).then(response=>{
            return response.json()
        }).then(data=>{
           document.getElementById('spanId').innerHTML=data.message
       
        }).catch(err=>{
            console.log("err:",err.message);
        })
        }
       const Myform = document.getElementById('Myform')
        
    </script>
    
    
</body>
</html>

