<%-include('../layout/header.ejs')-%>

	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<a class="navbar-brand logo_h" href="index.html"><img src="img/12345.jpeg" width="100px" style="border-radius: 20px;" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item "><a class="nav-link" href="/bookList">All Books</a></li>
							<li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
							<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<form class="row login_form" action="/login" method="post" id="contactForm" onsubmit="return validateForm();">
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" value="abinbinu888@gmail.com" placeholder="Email" required>
								<span id="emailError" class="error-message"></span>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" value="12345678" name="password" placeholder="Password" required>
								<span id="passwordError" class="error-message"></span>
							</div>
							<div class="col-md-12 form-group">
								<% if(typeof message !== 'undefined') { %>
									<p style="color:green"><%= message %></p>
								<% } %>
							</div>
							<a href="/forgotpassword" id="forgotPasswordLink">Forgot Password?</a>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="/register" id="forgotPasswordLink">New to this website?</a>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================End Login Box Area =================-->

	<%-include('footer')-%>
	<style>
		.error-message {
			color: red;
		}
	</style>
	
	<script>
		function validateForm() {
			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;
			let isValid = true;
			const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
	
			const emailError = document.getElementById('emailError');
			const passwordError = document.getElementById('passwordError');
	
			if (!email.match(emailPattern)) {
				emailError.innerText = 'Please enter a valid email address.';
				emailError.classList.add('error-message');
				isValid = false;
			} else {
				emailError.innerText = '';
			}
			if (password.length < 8) {
				passwordError.innerText = 'Password should be at least 8 characters long.';
				passwordError.classList.add('error-message');
				isValid = false;
			} else {
				passwordError.innerText = '';
			}
	
			return isValid;
		}
	</script>
	



<%-include('../layout/footer.ejs')-%>